@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
	--blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--main-bg: hsl(217, 54%, 11%);
	--card-bg: hsl(216, 50%, 16%);
	--line: hsl(215, 32%, 27%);
}

*{
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
}

.card{
    background-color: var(--card-bg);
    text-align: center;
    width: 400px;
    height: 600px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    margin: 2rem 0;
}

.img {
    position: relative;
    width: 300px;
    height: 300px;
    left: 50px;
    top: 20px;
    border-radius: 1rem;
    transition: .5s;
    cursor: pointer;
}

.img .equilibrium{
    width: 300px;
    border-radius: 1rem; 
    z-index: 1;
}

.img .view {
    position: absolute;
    left: 120px;
    top: 130px;
    width: 70px;
    cursor: pointer;
    visibility: hidden;
}

.img:hover {
    z-index: 9999;
    background-color: hsl(215, 51%, 70%);
}

.img:hover .equilibrium {
    opacity: .5;
}

.img:hover .view {
    visibility: visible;
}

.texto {
    padding: 3rem 2rem;
}

.texto h1 {
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
    text-align: start;
    margin-bottom: .5rem;
}

.texto h1:hover {
    color: var(--cyan);
}

.texto p {
    color: #9d9d9d;
    font-size: 18px;
    text-align: start;
}

.items {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:  0 2rem;
}


.value {
    color: var(--cyan);
}

.days {
    color: var(--blue);
}


.value {
    display: flex;
    align-items: center;
    
}

.value span,
.days span {
    margin-left: 10px;
}

.days{
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: var(--blue);
}

.line {
    border: 1px solid var(--line);
    margin: 1rem 2rem;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

.avatar img {
    width: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.avatar span {
    color: var(--blue);
}

.avatar span strong {
    color: #fff;
}

@media (max-width: 900px) {
    .card {
        width: 400px;
        height: 630px;
        margin: 5rem 0;
    }

    .img {
        width: 300px;
        height: 300px;
        left: 60px;
        top: 20px;
    }

    .img img{
        width: 300px;
    }

    .img .view {
        left: 125px;
        top: 140px;
        width: 50px;
    }

    
    .texto {
        padding: 3rem 4rem;
    }

    .texto h1{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .texto p{
        font-size: 1rem;
    }

    .items {
        padding: 0 3rem;
    }

    .line {
        margin: 1rem 3rem;
    }

    .avatar {
        padding: 0 3rem;
    }
}